* {
    font-family: 'Poppins', sans-serif !important;
}

.carousel-item {
    position: relative;
    z-index: 1;
}

.carousel-caption {
    z-index: 1;
    top: 45%;
}

.carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
}