* {
    font-family: 'Poppins', sans-serif;
}

/* ==================================
    Header Area Style
============================*/

.header_area a sup {
    color: #3F87F5;
}

ul.navbar-nav li a {
    transition: .5s;
    position: relative;
}

ul.navbar-nav li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background: #3F87F5;
    transition: .5s;
}

ul.navbar-nav li a:hover {
    color: #3F87F5 !important;
}

ul.navbar-nav li a:hover::after {
    width: 100%;
}

/* ==================================
    Slider Area Style
============================*/

.carousel-item {
    position: relative;
    z-index: 1;
}

.carousel-caption {
    z-index: 1;
    top: 45%;
}

.carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
}

.carousel-caption button {
    border-radius: 5px;
    position: relative;
    transition: .5s;
    border: none;
    z-index: 1;
}

.carousel-caption button:hover {
    color: #fff !important;
}

.carousel-caption button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #3F87F5;
    border-radius: 5px;
    transition: .5s;
    z-index: -1;
}

.carousel-caption button:hover::after {
    width: 100%;
}

/* ==================================
    Feature Area Style
============================*/

.feature_area {
    padding: 100px 0;
}

.feature_text a {
    transition: .5s;
}

.feature_text a:hover {
    background-color: #fff !important;
    color: #3F87F5 !important;
    border: 1px solid #3F87F5;
    transform: scale(1.1) !important;
}

.feature_toast {
    top: 0%;
    right: -5%;
}

/* ==================================
    Package Area Style
============================*/

.package_area {
    padding: 50px 0 100px;
}

.package_title {
    margin-bottom: 50px;
}

.card {
    padding: 30px 30px 30px 20px;
    border-radius: 20px;
}

.card-header h2, 
.card-header h3 {
    color: #231D4F;
    font-weight: 600;
}

.card-body p {
    color: #848199;
}

.package_list p span {
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: rgba(82, 67, 194, 0.103693);
    color: #5243C2;
    margin-right: 10px;
}

.package_btn {
    display: inline-block;
    text-decoration: none;
    background: rgba(244, 150, 209, .2);
    color: #3F87F5;
    border-radius: 24px;
    padding: 15px 60px;
}

.card {
    transition: .5s;
}

.card:hover {
    background: #3F87F5 !important;
    color: #fff !important;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
}

.card-header {
    transition: .5s;
}

.card:hover .card-header {
    background: #3F87F5 !important;
    color: #fff !important; 
}

.card-title {
    transition: .5s;
}

.card:hover .card-header .card-title {
    color: #fff !important;
}

.card-text {
    transition: .5s;
}

.card:hover .card-text {
    color: #fff !important;
}

.card:hover .package_list p {
    transition: .5s;
}

.card:hover .package_list p {
    color: #fff !important;
}

.package_list p span {
    transition: .5s;
}

.card:hover .package_list p span {
    color: #fff !important;
    background: rgba(255,255,255,.1);
}

.card-footer {
    transition: .5s;
}

.card:hover .card-footer {
    background: #3F87F5 !important;
    color: #fff !important; 
}

.package_btn {
    transition: .5s;
}

.card:hover .package_btn {
    background: #fff;
    color: #3F87F5;
}

.badge {
    top: -3%;
    right: 10%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform: translateY(10px);
}

.col:nth-child(2):hover .badge {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* ==================================
    Testimonial Area Style
============================*/

.testimonial_area {
    padding: 80px 0;
}

.testimonial_title {
    margin-bottom: 80px;
}

.testimonial_card {
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 12px 30px 0px #00000021;
}

.testimonial_card p {
    color: #6C6C6C;
}

.testimonial_card h4 {
    font-size: 15px;
    font-weight: 600;
    color: #0C1920;
    padding-top: 20px;
}

.testimonial_card h5 {
    color: #747474;
    font-size: 14px;
}

/* ==================================
    FAQ Area Style
============================*/

.faq_area {
    padding: 100px 0;
}

.faq_title {
    margin-bottom: 100px;
}

.accordion-item {
    border: 1px solid #D5E5FB;
}

.accordion-button:not(.collapsed) {
    background: #fff !important;
    box-shadow: none !important;
    color: #383838 !important;
}

.accordion-button:focus {
    border-color: none !important;
    box-shadow: none;
}