* {
    font-family: 'Poppins', sans-serif;
}

/* ==================================
    Header Area Style
============================*/

.header_area a small {
    color: #3F87F5;
}

ul.navbar-nav li a {
    transition: .5s;
    position: relative;
}

ul.navbar-nav li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background: #3F87F5;
    transition: .5s;
}

ul.navbar-nav li a:hover {
    color: #3F87F5 !important;
}

ul.navbar-nav li a:hover::after {
    width: 100%;
}

/* ==================================
    Slider Area Style
============================*/

.carousel-item {
    position: relative;
    z-index: 1;
}

.carousel-caption {
    z-index: 1;
    top: 45%;
}

.carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
}

.carousel-caption button {
    border-radius: 5px;
    position: relative;
    transition: .5s;
    border: none;
    z-index: 1;
}

.carousel-caption button:hover {
    color: #fff !important;
}

.carousel-caption button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #3F87F5;
    border-radius: 5px;
    transition: .5s;
    z-index: -1;
}

.carousel-caption button:hover::after {
    width: 100%;
}

/* ==================================
    Feature Area Style
============================*/

.feature_area {
    padding: 100px 0;
}

.feature_text a {
    transition: .5s;
}

.feature_text a:hover {
    background-color: #fff !important;
    color: #3F87F5 !important;
    border: 1px solid #3F87F5;
    transform: scale(1.1) !important;
}

.feature_toast {
    top: 0%;
    right: -5%;
}